body,p,pre,ul,li,ol,dl,table,input,dd,h5,h4,h3,h2,h1,form,input,a{
    margin:0;
	padding:0;
	list-style:none;
	font-family:"微软雅黑";
	font-size:14px;
}
img{
    border:0;
	font-size:0;
}
a{
    overflow:hidden;
    border:0;
    text-decoration:none;
}