*{
	margin:0;
	padding:0;}
/*我们在新学阶段可以使用*去除内外边距，在项目中一般有选择行的去除*/
body{
	font-family:"MILT_RG";
	font-size:14px;
	color:#000;}
a{
	text-decoration:none;}
ul{
	list-style-type:none;}
.clear{
	clear:both;}
img{
	border:none;}
/*head*/
#head{
	line-height:49px;
	height:49px;
	background:#000;}
#head_left{
	float:left;
	padding:16px 0 0 50px;}
#head_right{
	float:right;
	padding-right:50px;}
#head_right ul li{
	display:inline;
	padding:0 16px;}
#head_right ul li a{
	color:#dddddd;}
#head_right ul li a:hover{
	color:#868686;}
/*xm_con_1*/
#xm_con_1{
	height:796px;
	background: #EEE url(../images/miui7.5-001.jpg) no-repeat center center scroll;
	text-align:center;
	overflow:hidden;/*溢出隐藏*/}
#xm_con_1_m{
	position:relative;
	top:200px;}
#xm_con_1_m a{
	display:block;
	height:36px;
	width:154px;
	color:#636363;
	border:1px solid #828282;
	border-radius:20px;
	margin:35px auto;/*当为35px时，其父元素也会移动故需给父元素一个溢出隐藏*/
	line-height:36px;}	
#xm_con_1_m p{
	font-size:18px;
	color:#878787;
	line-height:30px;}
/*xm_con_2*/
#xm_con_2{
	height:1280px;
	background:url(../images/miui7.5-031.jpg) no-repeat center center;
	text-align:center;
	overflow:hidden;}	
#xm_con_2_m {
	margin-top:80px;}
#xm_con_2_m h2{
	font-size:36px;
	font-weight:100;
	line-height:95px;}
#xm_con_2_m p{
	color:#9e9d9b;
	font-size:18px;
	line-height:30px;}
/*id="xm_con_3"*/
#xm_con_3{
	height:1600px;
	padding-top:110px;
	text-align:center;}
#xm_con_3 h2{
	color:#585858;
	font-size:36px;
	font-weight:100;
	margin-bottom:30px;}
#xm_con_3 p{
	color:#8d8d8d;
	font-size:18px;
	line-height:30px;
	letter-spacing:1px;}
#xm_con_3 p.zs{
	color:#b8b8b8;
	font-size:16px;
	margin-top:25px;}
#xm_con_3_sj{ 
	width:1240px;
	height:800px;
	margin-top:35px;
	margin:0 auto;
	background:url(../images/miui7.5-002.jpg) no-repeat center center;
	overflow:hidden;}
#xm_con_3_sj ul{
	margin-top:760px;}
#xm_con_3_sj ul li{
	display:inline;
	font-size:18px;
	color:#8d8d8d;
	line-height:30px;}
.sj_2{
	position:relative;
	left:20px;}
.sj_1{
	position:relative;
	right:265px; }
.sj_3{
	position:relative;
	left:290px;}
#xm_con_3 h4{
	font-size:22px;
	color:#585858;
	line-height:30px;
	font-weight:100;
	margin-top:40px;}
#xm_con_3_gj{
	width:1125px;
	height:320px;
	margin:0 auto;
	margin-top:30px;
	background:url(../images/miui7.5-004.jpg) no-repeat ;
	overflow:hidden;}
#xm_con_3_gj ul{
	margin-top:295px;}
#xm_con_3_gj ul li{
	display:inline;
	font-size:18px;
	color:#8d8d8d;
	line-height:30px;
	padding:0 232px;}
#xm_con_4{
	height:700px;
	text-align:center;
	margin-top:50px;
	overflow:hidden;}	
#xm_con_4 h2{
	font-weight:100;
	font-size:36px;
	margin-bottom:25px;}	
#xm_con_4 p{
	font-size:18px;
	color:#8d8d8d;}	
#xm_con_4_m{
	height:520px;
	width:1240px;
	background:url(../images/miui7.5-005.jpg) no-repeat center center;
	margin:65px;}	
#xm_con_5{
	height:800px;
	text-align:center;
	overflow:hidden;
	}	
#xm_con_5 h2{
	font-size:36px;
	font-weight:100;
	margin-top:80px;
	margin-bottom:25px;}	
#xm_con_5 p{
	font-size:18px;
	color:#8d8d8d;}	
#xm_con_5_m{
	height:684px;
	background:url(../images/miui7.5-006.jpg) no-repeat  center center;
	margin-top:80px;}
#xm_con_6{
	height:900px;
	text-align:center;
	margin-top:90px;}	
#xm_con_6 h2{
	font-size:36px;
	font-weight:100;
	margin-bottom:25px;}	
#xm_con_6 p{
	font-size:18px;
	line-height:50px;}	
#xm_con_6 .a{
	color:#939393;}	
#xm_con_6 .b{
	color:#C3C3C3;}	
#xm_con_6_m{
	width:1240px;
	height:626px;
	background:url(../images/miui7.5-007.jpg) no-repeat center center;
	margin:80px 0 0 20px;}	
#xm_con_7{
	height:800px;
	text-align:center;
	margin-top:90px;}	
#xm_con_7 h2{
	font-size:36px;
	font-weight:100;
	margin-bottom:25px;}	
#xm_con_7 p{
	font-size:18px;
	color:#959595;}	
#xm_con_7_m{
	width:1240px;
	height:541px;
	background:url(../images/miui7.5-050.jpg) no-repeat center center;
	margin:120px 0 0 60px;}		
#xm_con_8{
	height:850px;
	text-align:center;
	margin-top:40px;}
#xm_con_8 h2{
	font-size:36px;
	font-weight:100;
	margin-bottom:25px;}
#xm_con_8 p{
	font-size:18px;
	line-height:30px;
	color:#959595;}
#xm_con_8_m{
	width:1240px;
	height:576px;
	background:url(../images/miui7.5-008.jpg) no-repeat ;
	margin:130px 0 0 80px;}
#xm_con_9{
	height:1090px;
	text-align:center;
	margin-top:80px;}
#xm_con_9 h2{
	font-size:36px;
	font-weight:100;
	margin-bottom:25px;}
#xm_con_9 p{
	font-size:18px;
	}
#xm_con_9 .aa{
	color:#939393;}	
#xm_con_9 .bb{
	color:#C3C3C3;
	line-height:80px;
	font-size:15px;}	
#xm_con_9_m{
	height:661px;
	width:1240px;
	background:url(../images/miui7.5-009.jpg) no-repeat;
	margin:80px 0 0 280px;}




	
	
	
	
	
/**/
#footer{
	height:160px;
	background-color:#F2F2F2;
	text-align:center;
	overflow:hidden;}
#footer ul li{
	display:inline;
	color:#d9d9d9;
	padding-left:23px;
	line-height:30px;}
#footer ul li a{
	padding-right:27px;
	color:#858585;}
#footer p{
	font-size:12px;
	line-height:30px;
	color:#C5C6C8;}	
#footer ul{
	margin-top:50px;}	
	
	
	
	
	
	
		
	
	
	
	
	