/* CSS Document */
*{
	margin:0;
	padding:0;}
/*在项目中有选择性的去除*/
body{
	font-family:"MILT_RG";
	font-size:14px;
	color:#000;}
a{
	text-decoration:none;}
ul{
	list-style-type:none;}
.clear{
	clear:both;}
img{
	border:none;}
/*head*/
#head{
	height:49px;
	line-height:49px;
	background:#000;}
#head_left{
	float:left;
	padding:16px 0 0 50px;}
#head_right{
	float:right;
	padding-right:50px;}
#head_right ul li{
	display:inline;
	padding:0 16px;}
#head_right ul li a{
	color:#ddd;}
#head_right ul li a:hover{
	color:#868686;}
/*xm_con_1*/
#xm_con_1{
	height:796px;
	background: #EEE url(../images/miui7.5-001.jpg) no-repeat center center scroll;/*上下左右都居中,scroll为背景不跟随内容移动，反之可以用fixed,图片不够背景颜色填充*/
	text-align:center;
	overflow:hidden;/*溢出隐藏*/}
#xm_con_1_m{
	position:relative;
	top:200px;}
#xm_con_1_m a{
	display:block;
	height:36px;
	width:154px;
	color:#636363;
	border:1px solid #828282;
	border-radius:20px;
	margin:35px auto/*父元素要使用溢出隐藏*/;
	line-height:36px;}
#xm_con_1_m p{
	font-size:18px;
	color:#878787;
	line-height:30px;}
/*xm_con_2*/
#xm_con_2{
	height:1280px;
	background:url(../images/miui7.5-031.jpg) no-repeat center center;
	text-align:center;
	overflow:hidden;}
#xm_con_2_m{
	margin-top:85px;}
#xm_con_2_m h2{
	font-size:36px;
	font-weight:100;
	line-height:90px;}
#xm_con_2_m p{
	color:#9e9d9b;
	font-size:18px;
	line-height:30px;
	}
/*xm_con_3*/
#xm_con_3{
	height:1600px;
	margin-top:110;
	text-align:center;}
#xm_con_3 h2{
	color:#585858;
	font-size:36px;
	font-weight:100;
	margin-bottom:25px;
	}
#xm_con_3 p{
	color:#8d8d8d;
	font-size:18px;
	line-height:30px;
	letter-spacing:1px;}
#xm_con_3 .zs{
	color:#b8b8b8;
	font-size:16px;
	margin-top:25px;}
#xm_con_3_sj{
	margin:0 auto;
	height:800px;
	width:1240px;
	background:url(../images/miui7.5-002.jpg) no-repeat center center;
	margin-top:35px;
	overflow:hidden;}
#xm_con_3_sj ul li{
	display:inline;
	font-size:18px;
	color:#8d8d8d;
	line-height:30px;}
#xm_con_3_sj ul{
	margin-top:760px;
	}
.sj_1{
	position:relative;
	right:265px;}
.sj_2{
	
	position:relative;
	left:20px;}
.sj_3{
	position:relative;
	left:290px;}
#xm_con_3 h4{
	color:#585858;
	font-size:22px;
	line-height:30px;
	font-weight:100;
	margin-top:40px;}
#xm_con_3_gj{
	width:1125px;
	height:320px;
	margin:0 auto;
	margin-top:30px;
	background:url(../images/miui7.5-004.jpg) no-repeat;
	overflow:hidden;}
#xm_con_3_gj ul li{
	display:inline;
	font-size:18px;
	color:#8d8d8d;
	line-height:30px;
	padding:0 230px;}
#xm_con_3_gj ul{
	margin-top:295px}