
/* CSS Document */
*{
	margin:0;
	padding:0;}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;}
a{
	text-decoration:none;}
ul{
	list-style-type:none;}
.clear{
	clear:both;}
/*head*/
#head{
	background:#F1F1F1;
	height:30px;}
#head_con{
	width:1210px;
	margin:0 auto;
	font-size:12px;}
#head_con a{
	color:#666;}
#head_con a:hover{
	color:#C81623;}
#head_con_left{
	float:left;
	line-height:30px;}
#head_con_right{
	float:right;
	line-height:30px;}
#head_con_right .red{
	color:#C81623;
	float:left;}
#head_con_right ul li{
	float:left;
	color:#DDD;
	padding-left:11px;}
#head_con_right ul{
	float:left;}
#head_con_right ul li img{
	float:left;
	margin-top:3px;}
#head_con_right ul li a{
	padding-right:12px;}
/*jd_gg*/
#jd_gg{
	height:80px;
	background:#FB3939;}
#jd_gg_con{
	width:1210px;
	margin:0 auto;}
/*search*/
#search{
	height:100px;}
#search_con{
	width:1210px;
	margin:0 auto;}
#search_con_left{
	float:left;
	margin-top:20px;}
#search_con_conter{
	float:left;
	margin:25px 0 0 100px;}
#search_con_right{
	float:right;
	margin:22px 60px 0 0;}
#search_text{
	width:452px;
	height:32px;
	border:2px solid #B61D1D;
	float:left;}
#search_butt{
	width:82px;
	height:36px;
	background:#B61D1D;
	border:none;
	font-size:17px;
	color:#fff;
	font-weight:bold;}
#search_con_conter ul li a{
	color:#666;
	font-size:12px;}
#search_con_conter ul li{
	display:inline;
	line-height:27px;
	padding-right:3px;}
#search_con_conter ul li .s_red{
	color:#C81623;}
/*menu*/
#menu{
	height:44px;
	border-bottom:2px solid #B1191A;}
#menu_con{
	width:1210px;
	margin:0 auto;
	font-family:"Microsoft YaHei UI";}
#menu_con h3{
	color:#fff;
	background:#B1191A;
	line-height:44px;
	width:200px;
	padding-left:10px;
	font-size:15px;
	font-weight:500;
	float:left;}
#menu_con ul{
	line-height:44px;
	margin-left:12px;
	float:left;}
#menu_con ul li{
	display:inline;
	font-size:16px;
	margin-right:40px;}
#menu_con ul li a{
	color:#333;}
#menu_con ul li a:hover{
	color:#C81623;}
/*content*/
#content{
	height:466px;}
#content_con{
	width:1210px;
	margin:0 auto;}
#content_con_left{
	width:210px;
	background:#C81623;
	height:466px;
	float:left;}
#content_con_left ul{
	padding-left:10px;
	font-family:"Microsoft YaHei UI";}
#content_con_left ul li{
	line-height:31px;}
#content_con_left ul li a{
	color:#fff;}
#content_con_left ul li span{
	float:right;
	padding-right:12px;
	color:#fff;}
#content_con_conter{
	float:left;
	width:730px;
	height:454px;
	margin:12px 0 0 10px;}
#content_con_right{
	float:right;
	width:250px;
	height:454px;
	margin-top:12px;}
#content_con_right_top{
	height:164px;
	border:1px solid #E4E4E4;}
#content_con_right_top h3{
	line-height:30px;
	font-weight:500;
	font-size:16px;
	color:#666;
	font-family:"Microsoft YaHei UI";
	border-bottom:1px dotted #E4E4E4;
	padding-left:15px;}
#content_con_right_top span{
	float:right;
	font-size:12px;
	margin-right:15px;}
#content_con_right_top ul {
	padding:0 15px;
	margin-top:5px;}
#content_con_right_top ul li{
	font-size:12px;
	line-height:24px;}
#content_con_right_top ul li a{
	color:#666;}
#content_con_right_mi table {
	border-collapse:collapse;}
#content_con_right_mi table tr td{
	border:1px solid #E4E4E4;
	height:69px;}
#content_con_right_mi table tr td img{
	width:100%;
	height:69px;}
#content_con_right_bottom{
	height:72px;
	margin-top:5px;}
#content_con_right_bottom img{
	height:72px;
	width:100%;}



.www51buycom { width: 730px; height: 454px; margin:0 auto; position: relative; overflow:hidden;
float:left;}

/*数字按钮样式*/
.www51buycom .num {  height: 28px; position: absolute; bottom:15px; left: 15px; zoom:1; z-index:3 }
.www51buycom .num li { width: 20px; height: 20px; line-height: 20px; text-align: center; font-weight: 400; font-family: "微软雅黑", Arial; color: #FFFFFF; background: #444444; margin-right: 10px; border-radius:50%; cursor:pointer; float: left; }
.www51buycom .num li.on { background: #FF7700; } /*当前项*/

/*上一个  下一个*/
.www51buycom .prev,
.www51buycom .next { display: none; width: 40px; height: 100px; background: url(../images/btn.png) no-repeat; position: absolute; top: 160px;}
.www51buycom .prev { left: 0; }
.www51buycom .next { right: 0; background-position: right }


/*jrtj*/
#jrtj{
	height:164px;
	margin-top:10px;}
#jrtj_con{
	width:1210px;
	margin:0 auto;}
#jrtj_con_left{
	width:210px;
	float:left;}
#jrtj_con img{
	width:100%;
	height:164px;}
#jrtj_con_right{
	float:right;}
#jrtj_con_right ul li{
	float:left;
	margin-right:1px;
	width:249px;}
/*cnxh*/
#cnxh{
	height:269px;
	margin-top:20px;
	font-family:"Microsoft YaHei UI";}
#cnxh_con{
	width:1210px;
	margin:0 auto;}
#cnxh_con h3{
	font-size:20px;
	font-weight:300;
	line-height:30px;}
#cnxh_con h3 span{

	float:right;
	font-size:12px;}
#cnxh_con h3 img{
	position:relative;
	top:3px;}
#cnxh_con ul{
	border:1px solid #999;
	padding-top:20px;}
#cnxh_con ul li{
	float:left;
	width:201px;}
#cnxh_con ul li img{
	display:block;/*转块级*/
	margin:0 auto;}	
#cnxh_con .cnxh_text{
	padding:0 36px;
	line-height:20px;
	font-size:12px;
	border-right:1px solid #999;
	margin-bottom:15px;}
#cnxh_con .cnxh_text a{
	color:#666;}
#cnxh_con .cnxh_text span{
	color:#B51D1A;
	font-size:16px;
	line-height:30px;}
#cnxh .qu{
	border:none;}
/*pzsh*/
#pzsh{
	height:443px;
	margin-top:60px;
	font-family:"Microsoft YaHei UI";}
#pzsh_con{
	width:1210px;
	margin:0 auto;}
#pzsh_con h3{
	line-height:36px;
	font-size:20px;
	font-weight:300;}
#pzsh_con h4{
	line-height:40px;
	font-size:15px;
	border-bottom:1px dashed #EDEDED;
	text-align:center;
	margin:0 18px;}
#pzsh_con_img1{
	width:401px;
	height:405px;
	float:left;
	border:1px solid #EDEDED;}
#pzsh_con_img2{
	width:227px;
	height:405px;
	float:left;
	border-top:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;}
#pzsh_con_img2_one{
	border-bottom:1px solid #EDEDED;
	position:relative;}
#pzsh_con_img2_one .pz_text{
	position:absolute;
	top:40px;
	line-height:22px;
	padding-left:10px;}
#pzsh_con_img2_one .pz_text h4{
	font-size:16px;
	border:none;
	text-align:left;
	margin:0;}
#pzsh_con_img2_one .pz_text p{
	font-size:12px;}
#pzsh_con_img2_one .pz_text span{
	font-size:12px;
	color:#C81623;}
#pzsh_con_img3_one{
	border-bottom:1px solid #EDEDED;}
#pzsh_con_img3_two_left{
	float:left;
	border-right:1px solid #EDEDED;}
#pzsh_con_img3{
	width:408px;
	height:405px;
	float:left;
	border:1px solid #EDEDED;
	background:#F7F7F7;}
#pzsh_con_img4{
	width:169px;
	height:405px;
	float:right;
	border-top:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
#pzsh_con_img4 ul{
	float:left;
	margin-top:3px;}
#pzsh_con_img4 ul li{
	height:56px;
	border-bottom:1px dashed #EDEDED;}
#pzsh_con_img4 .de_border{
	border-bottom:none;}
#pzsh_con_img4 ul li img{
	height:56px;}
#pzsh_con_img4 .img4_menu1{
	padding-left:14px;
	border-right:1px dashed #EDEDED;}
#pzsh_con_img4 .img4_menu2{
	padding-right:14px;}

/**/
#jd_gg2{
	width:1210px;
	margin:20px auto;}
#jd_gg2 img{
	float:left;}	
/*fzxb*/
#fzxb_con{
	width:1210px;
	margin:0 auto;
	font-family:"Microsoft YaHei UI";}
#fzxb_con_head{
	height:37px;
	border-bottom:1px solid #C81623;}	
#fzxb_con_head h3{
	font-size:20px;
	line-height:30px;
	font-weight:300;
	float:left;}	
#fzxb_con_head ul{
	float:right;
	line-height:36px;
	border:1px solid #EDEDED;
	border-bottom:none;
	}	
#fzxb_con_head ul li{
	float:left;
	}	
.red{
	border-left:1px solid #C81623;
	border-right:1px solid #C81623;
	border-top:3px solid #C81623;
	height:33px;
	line-height:33px;
	}
 #fzxb_con_head .red a{
	 color: #C81623;
	 display:block;
	 height:34px;
	 background:#fff;}
#fzxb_con_head ul li a{
	padding:0 16px;
	border-right:1px solid #CCC;
	font-size:12px;
	color:#333;}	
	
#fzxb_con_img .fzxb_con_img1{
	width:330px;
	height:633px;
	float:left;}
.fzxb_con_img1_top{
	height:475px;
	position:relative;}
.fzxb_con_img1_top_menu1	{
	background:#fff;
	position:absolute;
	bottom:130px;
	background:rgba(255,255,255,0.6) none repeat scroll 0 0 !important;}/*透明*/
.fzxb_con_img1_top_menu1 ul li{
	line-height:50px;
	padding:0 38px;
	float:left;}
.fzxb_con_img1_top_menu1 ul li a{
	color:#333;}
.fzxb_con_img1_top_menu2{
	background:#EBEDFE;
	font-size:12px;
	height:130px;
	position:relative;
	bottom:130px;
	}
.fzxb_con_img1_top_menu2 ul{
	padding-top:15px;}
.fzxb_con_img1_top_menu2 ul li{
	line-height:25px;
	padding:0 35px;
	margin-left:5px;
	}
.fzxb_con_img1_top_menu2 ul li a{color:#9A9A9A;}
.ul1{
	float:left;}
#fzxb_con_img .fzxb_con_img2{
	width:440px;
	height:633px;
	float:left;
	}
.fzxb_con_img1_top_menu2 span{
	color:#CB2835;}
#a,#b{
	border-bottom:1px solid #F0F0F0; }
#fzxb_con_img .fzxb_con_img3{
	width:219px;
	height:633px;
	float:left;
	}
#aa,#bb,#cc,#dd,#aaa,#bbb,#ccc{ border:1px solid #F0F0F0;}
#fzxb_con_img .fzxb_con_img4{
	width:219px;
	height:633px;
	float:right;
	background:#F00;}
.fzxb_con_img1_bottom img{
	position:relative;
	bottom:115px;
	left:1px;
}
#shangbiao_con{
	height:70px;
	width:1210px;
	background:#F7F7F7;
	margin:0 auto;
	margin-top:10px;
}
#shangbiao_con ul li{
	float:left;}
#shangbiao_con ul {
	padding-top:15px;
	height:40px;
}	
#shangbiao_con ul li {
	margin-right:20px;
	border-right:1px dotted #D1D1D1;}	
	
#ghmz_con{
	width:1210px;
	margin:0 auto;
	margin-top:20px;
	font-family:"Microsoft YaHei UI";}	
#ghmz_con_text{
	height:37px;
	border-bottom:1px solid #C81623;}	
#ghmz_con_text h3{
	font-size:20px;
	line-height:30px;
	font-weight:300;
	float:left;}
#ghmz_con_text ul{
	float:right;
	line-height:36px;
	border:1px solid #EDEDED;
	border-bottom:none;
	}	
#ghmz_con_text ul li{
	float:left;
	}	
.remen{
	border-left:1px solid #C81623;
	border-right:1px solid #C81623;
	border-top:3px solid #C81623;
	height:33px;
	line-height:33px;
	}
#ghmz_con_text  .remen a{
	 color: #C81623;
	 display:block;
	 height:34px;
	 background:#fff;}
#ghmz_con_text ul li a{
	padding:0 16.5px;
	border-right:1px solid #CCC;
	font-size:12px;
	color:#333;}	
	
#ghmz_con_img1{
	height:475px;}
#ghmz_con_img1_1{
	width:210px;
	height:475px;
	margin-top:-1px;
	float:left;} 
#tianchong1{
	width:208px;
	height:80px;
	background:#F6C5F2;
	margin-left:2px;}
#tianchong1 table{
	width:208px;
	height:80px;
	background:rgba(255,255,255,0.6) none repeat scroll 0 0 !important;
	text-align:center;
	}
#tianchong1 table a{
	color:#666;}
#ghmz_con_img1_1_b{
	height:157px;
	width:208px;
	background:#FCEDFB;
	margin-left:2px;
	text-align:center;
	overflow:hidden;}
#ghmz_con_img1_1_b p{
	display:block;
	line-height:5px;
	margin-top:20px;}
#ghmz_con_img1_1_b a{
	color:#666;}
.ul2{
	width:180px;
	margin:40px 0 0 25px;}
#ghmz_con_img1_1_b ul li{
	float:left;
	margin-right:10px;
	line-height:25px;}
.ul2 span{
	color:#CB212E;}
#ghmz_con_img1_2{
	width:342px;
	height:475px;
	
	float:left;} 
		
#ghmz_con_img1_3{
	
	float:left;} 	
#ghmz_con_img1_4{
	
	float:left;} 	
#ghmz_con_img1_5{
	width:219px;
	float:right;
	}	
#ghmz_con_img1_5_a img{
	width:219px;
	height:298px;}
#ghmz_con_img2{
	width:1210px;
	height:70px;
	background:#F7F7F7;
	margin-top:10px;
	overflow:hidden;}
#ghmz_con_img2 ul{
	margin:0 auto;
	margin-top:20px;}	
#ghmz_con_img2 ul li{
	float:left;
	margin-right:8px;

	}	
#ghmz_con_img2 ul li a img{
	border-right:1px dashed #D1D1D1;
	padding-right:5px;
}
#ghmz_con_gg{
	width:1197px;
	height:109px;
	margin:0 auto;
	margin-top:20px;}
#ghmz_con_gg1{
	float:left;}
#ghmz_con_gg2{
	float:left;}
#ghmz_con_gg3{
	float:right;}

/*sjtx*/
	
#sjtx_con{
	width:1210px;
	margin:0 auto;
	margin-top:25px;
	}	
#sjtx_con_head{
	font-family:"Microsoft YaHei UI";
	height:37px;
	border-bottom:1px solid #C81623;}
#sjtx_con_head h3{
	font-size:20px;
	font-weight:300;
	float:left;}
#sjtx_con_head ul{
	float:right;
	line-height:34px;
	border:1px solid #EFEFEF;
	border-bottom:none;}
#sjtx_con_head ul li{
	float:left;
	display:block;
	background:#fff;
}
#sjtx_con_head ul li a{
	font-size:12px;
	padding:0 17px 0 17px;
	color:#171717;
	border-right:1px solid #DBDBDB;
	}

#sjtx_con_head .renmen3{
	border:1px solid #C81623;
	border-bottom:none;
	border-top:3px solid #C81623;

	}	
#sjtx_con_img1{
	width:331px;
	height:472px;
	float:left;
}
#sjtx_con_img1_b{
	width:331px;
	height:58px;
	background:#D5EBE8;}	
#sjtx_con_img1_b  ul {
	line-height:58px;}
#sjtx_con_img1_b  ul li{
	display:inline;
}	
#sjtx_con_img1_b  ul a{
	padding:0 30px 0 40px;
	color:#626463;}	
#sjtx_con_img1_c{
	width:331px;
	height:177px;
	background:#E5F3F1;
	}
#sjtx_con_img1_c ul{
	line-height:25px;}
#sjtx_con_img1_c a{
	color:#999;}
#sjtx_con_img1_c .h a{
	font-size:14px;
	color:#666;;
	}
#sjtx_con_img1_c1{
	float:left;
	margin:20px 0 0 20px;}
#sjtx_con_img1_c2{
	float:right;
	margin:20px 20px 0 0;}
#sjtx_con_img1_c span{
	color:#C81623;}
#sjtx_con_img2_b1{
	float:left;}
#sjtx_con_img2_b2{
	float:right;}	
	
#sjtx_con_img2{
	width:438px;
	height:472px;
	float:left;}	
#sjtx_con_img3{
	width:220px;
	height:472px;
	float:left;}	
#sjtx_con_img4{
	width:221px;
	height:472px;
	float:right;}
#sjtx_sb {
	width:1210px;
	height:70px;
	background:#F7F7F7;
	text-align:center;
	overflow:hidden;}	
#sjtx_sb ul li{
	display:inline-block;
	padding:0 5px 0 5px;
	border-right:1px dashed #E5E5E5;}	
#sjtx_sb ul{
	margin-top:15px;}	

	
#jydq_con{
	width:1210px;
	margin:0 auto;
	margin-top:25px;
	}		
#jydq_con_head{
	font-family:"Microsoft YaHei UI";
	height:37px;
	border-bottom:1px solid #C81623;}	
#jydq_con_head h3{
	font-size:20px;
	font-weight:300;
	float:left;}
#jydq_con_head ul{
	float:right;
	line-height:34px;
	border:1px solid #EFEFEF;
	border-bottom:none;}
#jydq_con_head ul li{
	float:left;
	display:block;
	background:#fff;
}
#jydq_con_head ul li a{
	font-size:12px;
	padding:0 17px 0 17px;
	color:#171717;
	border-right:1px solid #DBDBDB;
	}
#jydq_con_head .remen4{
	border:1px solid #C81623;
	border-bottom:none;
	border-top:3px solid #C81623;

	}	
#jydq_con_img1{
	height:473px;
	width:329px;
	float:left;}
#jydq_con_img1_b{
	background:#D7EBEC;
	width:331px;
	height:58px;
}
#jydq_con_img1_b  ul {
	line-height:58px;}
#jydq_con_img1_b  ul li{
	display:inline;
}	
#jydq_con_img1_b  ul a{
	padding:0 60px 0 50px;
	color:#626463;}	
#jydq_con_img1_c{
	width:331px;
	height:177px;
	background:#E5F3F1;
	}
#jydq_con_img1_c ul{
	line-height:25px;}
#jydq_con_img1_c a{
	color:#999;}
#jydq_con_img1_c .h a{
	font-size:14px;
	color:#666;;
	}
#jydq_con_img1_c1{
	float:left;
	margin:20px 0 0 20px;}
#jydq_con_img1_c2{
	float:right;
	margin:20px 20px 0 0;}
#jydq_con_img1_c span{
	color:#C81623;}	

#jydq_con_img2{
	height:473px;
	width:441px;
	float:left;}
#jydq_con_img2_b1{
	float:left;
	width:219px;
	height:237px;}
#jydq_con_img2_b2{
	width:222px;
	height:237px;
	float:right;}
#jydq_con_img3{
	height:473px;
	width:221px;
	float:left;}
#jydq_con_img4{
	height:473px;
	width:219px;
	float:right;
}
#jydq_sb {
	width:1210px;
	height:70px;
	background:#F7F7F7;
	text-align:center;
	overflow:hidden;
	}	
#jydq_sb ul li{
	display:inline-block;
	padding:0 5px 0 5px;
	border-right:1px dashed #E5E5E5;}	
#jydq_sb ul{
	margin-top:15px;}	


#dnsm_con{
	width:1210px;
	margin:0 auto;
	margin-top:25px;
	}	
#dnsm_con_head{
	font-family:"Microsoft YaHei UI";
	height:37px;
	border-bottom:1px solid #C81623;}
#dnsm_con_head h3{
	font-size:20px;
	font-weight:300;
	float:left;}
#dnsm_con_head ul{
	float:right;
	line-height:34px;
	border:1px solid #EFEFEF;
	border-bottom:none;}
#dnsm_con_head ul li{
	float:left;
	display:block;
	background:#fff;
}
#dnsm_con_head ul li a{
	font-size:12px;
	padding:0 17px 0 17px;
	color:#171717;
	border-right:1px solid #DBDBDB;
	}

#dnsm_con_head .remen4{
	border:1px solid #C81623;
	border-bottom:none;
	border-top:3px solid #C81623;

	}	
#dnsm_con_img1{
	height:473px;
	width:329px;
	float:left;}
#dnsm_con_img1_b{
	background:#D7EBEC;
	width:331px;
	height:58px;
}
#dnsm_con_img1_b  ul {
	line-height:58px;}
#dnsm_con_img1_b  ul li{
	display:inline;
}	
#dnsm_con_img1_b  ul a{
	padding:0 60px 0 50px;
	color:#626463;}	
#dnsm_con_img1_c{
	width:331px;
	height:177px;
	background:#E5F3F1;
	}
#dnsm_con_img1_c ul{
	line-height:25px;}
#dnsm_con_img1_c a{
	color:#999;}
#dnsm_con_img1_c .h a{
	font-size:14px;
	color:#666;;
	}
#dnsm_con_img1_c1{
	float:left;
	margin:20px 0 0 20px;}
#dnsm_con_img1_c2{
	float:right;
	margin:20px 20px 0 0;}
#dnsm_con_img1_c span{
	color:#C81623;}	

#dnsm_con_img2{
	height:473px;
	width:441px;
	float:left;}
#dnsm_con_img2_b1{
	float:left;
	width:219px;
	height:237px;}
#dnsm_con_img2_b2{
	width:222px;
	height:237px;
	float:right;}
#dnsm_con_img3{
	height:473px;
	width:221px;
	float:left;}
#dnsm_con_img4{
	height:473px;
	width:219px;
	float:right;
}	
#dnsm_sb {
	width:1210px;
	height:70px;
	background:#F7F7F7;
	text-align:center;
	overflow:hidden;
	position:relative;
	top:15px;
}	
#dnsm_sb ul li{
	display:inline-block;
	padding:0 5px 0 5px;
	border-right:1px dashed #E5E5E5;}	
#dnsm_sb ul{
	margin-top:15px;}
#dnsm_gg{
	width:1204px;
	height:109px;
	margin-top:30px;
	}

#ydjs_con{
	width:1210px;
	margin:0 auto;
	margin-top:25px;
	}	
#ydjs_con_head{
	font-family:"Microsoft YaHei UI";
	height:37px;
	border-bottom:1px solid #C81623;}
#ydjs_con_head h3{
	font-size:20px;
	font-weight:300;
	float:left;}
#ydjs_con_head ul{
	float:right;
	line-height:34px;
	border:1px solid #EFEFEF;
	border-bottom:none;}
#ydjs_con_head ul li{
	float:left;
	display:block;
	background:#fff;
}
#ydjs_con_head ul li a{
	font-size:12px;
	padding:0 17px 0 17px;
	color:#171717;
	border-right:1px solid #DBDBDB;
	}

#ydjs_con_head .renmen5{
	border:1px solid #C81623;
	border-bottom:none;
	border-top:3px solid #C81623;

	}	
#ydjs_con_head_img1{
	float:left;
	width:209px;
	height:473px;}
#ydjs_con_head_img1_b {
	width:209px;
	height:80px;
	background:#E1F7DA;
	overflow:hidden;
	}
#ydjs_con_head_img1_b table{
	width:160px;
	height:60px;
	margin-left:20px;
	margin-top:10px;}
#ydjs_con_head_img1_b  .you{
	text-align:right;}
#ydjs_con_head_img1_c{
	width:209px;
	height:157px;
	background:#EDFAE8;
	overflow:hidden;}
#ydjs_con_head_img1_c1 ul a{
	color:#666666;
	font-size:16px;
	font-weight:500px;
	}
#ydjs_con_head_img1_c1 ul {
	margin:20px 0 0 30px;}
#ydjs_con_head_img1_c2 ul li{
	float:left;	}
#ydjs_con_head_img1_c2 ul {
	margin:20px 0 0 30px;
	line-height:20px;
	}
#ydjs_con_head_img1_c2 ul a{
	padding-right:5px;
	color:#999999;}
#ydjs_con_head_img1_c2 span{
	color:#C81623;}
#ydjs_con_head_img2{
	float:left;
	width:222px;
	height:473px;}
#ydjs_con_head_img3{
	float:left;
	width:339px;
	height:473px;}
#ydjs_con_head_img4{
	float:left;
	width:219px;
	height:473px;}
#ydjs_con_head_img5{
	float:right;
	width:216px;
	height:473px;}
#ydjs_sb {
	width:1210px;
	height:70px;
	background:#F7F7F7;
	text-align:center;
	overflow:hidden;
	position:relative;
	top:15px;
}	
#ydjs_sb ul li{
	display:inline-block;
	padding:0 5px 0 5px;
	border-right:1px dashed #E5E5E5;}	
#ydjs_sb ul{
	margin-top:15px;}



#jjsh_con{
	width:1210px;
	margin:0 auto;
	margin-top:25px;
	}	
#jjsh_con_head{
	font-family:"Microsoft YaHei UI";
	height:37px;
	border-bottom:1px solid #C81623;}
#jjsh_con_head h3{
	font-size:20px;
	font-weight:300;
	float:left;}
#jjsh_con_head ul{
	float:right;
	line-height:34px;
	border:1px solid #EFEFEF;
	border-bottom:none;}
#jjsh_con_head ul li{
	float:left;
	display:block;
	background:#fff;
}
#jjsh_con_head ul li a{
	font-size:12px;
	padding:0 17px 0 17px;
	color:#171717;
	border-right:1px solid #DBDBDB;
	}

#jjsh_con_head .renmen6{
	border:1px solid #C81623;
	border-bottom:none;
	border-top:3px solid #C81623;
}	
#jjsh_con_img1{
	width:209px;
	height:474px;
	float:left;}
#jjsh_con_img2{
	width:222px;
	height:474px;
	float:left;}
#jjsh_con_img3{
	width:339px;
	height:474px;
	float:left;}
#jjsh_con_img4{
	width:220px;
	height:474px;
	float:left;}
#jjsh_con_img5{
	width:211px;
	height:474px;
	float:right;}
#fotter_gg img{
	margin-top:15px;}

#fotter1_con{
	width:1210px;
	margin:0 auto;
	margin-top:15px;}
#fotter1_con .mm{
	font-size:18px;}
#fotter1_con ul{
	line-height:20px;}
#fotter1_con ul a{
	color:#666666;}
#fotter1_con1{
	float:left;
	padding-right:100px;}
#fotter1_con2{
	float:left;
	padding-right:120px;}
#fotter1_con3{
	float:left;
	padding-right:140px;}
#fotter1_con4{
	float:left;
	padding-right:130px;}
#fotter1_con5{
	float:left;
	padding-right:100px;}
hr{
	width:90%;
	margin-left:5%;
	margin-top:20px;}
#fotter2_con,#fotter2_con2{
	width:1210px;
	margin:0 auto;
	margin-top:15px;}
#fotter2_con2{
	margin-top:-5px;
	margin-left:20px;}
#fotter2_con ul{
	margin-left:170px;}
#fotter2_con ul li{
	display:inline;}
#fotter2_con ul  a{
	padding:5px 10px 0 10px;
	font-size:12px;
	color:#666666;}
#fotter2_con2 ul li{
	display:inline;}
#fotter2_con2 ul  a{
	padding:5px 10px 0 10px;
	font-size:12px;
	color:#666666;}
#liebiao {
	float:right;

	margin-top:5px;
}
#tu{
	float:left;
	margin-left:125px;
	
	position:relative;
	left:10px;}
#fotter2_con2 p {
	font-size:12px;
	color:#666;
	position:relative;
	top:5px;
	left:100px;}		
#fotter2_con2 .ll{
	margin-left:500px;
	margin-top:10px;}	
	
#fotter2_con2 .kk{
	margin-top:25px;
	margin-left:300px;}
	
#fotter2_con2 .kk li{
	padding-right:20px;}